@using EmployeeDirectory.Concerns;
@model List<Employee>

@{
    ViewData["Title"] = "Employees";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
    }

    th {
        background-color: #ccc;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Preferred Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Job Title</th>
            <th>Department</th>
            <th>Office</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.PreferredName</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.JobTitle?.Title</td>
                <td>@employee.Department?.Name</td>
                <td>@employee.Office?.Name</td>
            </tr>
        }
    </tbody>
</table>
